.image-grid1 { transition: all .2s ease-in-out; 
    border: 3px;
    width: 300px;
 }

.image-grid1:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid2 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid2:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid3 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid3:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid4 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid4:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid5 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid5:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid6 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid6:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid7 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid7:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid8 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid8:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid9 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid9:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid10 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid10:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid11 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid11:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid12 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid12:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid13 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid13:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid14 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid14:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }

.image-grid15 { transition: all .2s ease-in-out; 
    border: 3px; 
    width: 300px; 
 }
.image-grid15:hover { transform: scale(1.1); 
    border: 3px; 
    width: 300px; 
 }
